.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10%;
}

.back-to-home {
  color: rgb(74, 74, 74);
  text-decoration: none;
}

.back-to-home:hover {
  color: black;
}

/* imagenes */
.product-images {
  flex: 1 1 40%;
  max-width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* principal */
.product-images img#mainImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
}

/* carrusel */
.thumbnail-row {
  display: flex;
  gap: 10px;
}

.thumbnail-row img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.thumbnail-row img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .thumbnail-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .thumbnail-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* detalles produco */
.product-details {
  flex: 1 1 55%;
  max-width: 40%;
  padding: 10px;
}

.product-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.5rem;
  color: #28a745;
  margin-bottom: 15px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-rating span {
  font-size: 1.2rem;
}

.product-sold-count {
  margin-top: 10px;
  font-weight: bold;
}

/* btns */
.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.action-buttons button {
  width: 100%;
}

/* btn comprar ahora */
.btn-buy-now {
  background-color: #ffd47de7;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  border: 1px solid #000000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn-buy-now:hover {
  background-color: #cfaf6fe7;
}

/* btn añadir al carrito */
.btn-add-cart {
  background-color: #fff4d7;
  color: #a88734;
  padding: 10px 20px;
  border: 1px solid #a88734;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  text-align: center;
}

.btn-add-cart:hover {
  background-color: #cec2a4;
}

/* relacionados */
.related-products img {
  display: flex;
  max-width: 10px;
  margin-right: 10px;
}

/* comentarios */
.star {
  font-size: 2rem;
  cursor: pointer;
  color: gray;
}

.star.selected {
  color: gold;
}

.selected-thumbnail {
  opacity: 0.5;
  border: 2px solid #fae99c;
}

footer {
  margin-top: 50px;
}


body {
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}