.back-to-home {
    color: rgb(74, 74, 74);
    text-decoration: none;
  }
  
  .profile-image-container {
    position: relative;
    width: 100px; 
    height: 100px; 
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; 
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    border-radius: 50%; 
}

.camera-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    padding: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: 10;
}

.profile-image-container:hover .camera-icon {
    opacity: 1;
    cursor: pointer;

}

.profile-image-label {
    cursor: pointer;
}


  .btn1 {
    background-color: #fff1d6e7;
    padding: 1% 5%;
    border-radius: 60px;
    border: 1px solid #414141;
    font-weight: 300;
}

.btn1:hover {
    background-color: #e0d4bce7;
}

.email {
    background-color: #fffaf1e7;
}

.email:hover {
    background-color: #fffaf1e7;
}

.form-control:focus{
    border: 1px solid rgb(31, 31, 31);
    outline: none;
    background-color: #fffaf1e7;
  }

  .container-form {
    background-color: #fcfcfce7;
    box-shadow: 0px 0px 5px rgb(223, 223, 223);
  }

  .input-lleno {
    background-color: #fffaf1e7;
  }

  input:focus, select:focus, select, input.form-control:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}