
    .related-img {
        transition: transform 0.3s ease;
    }

    .related-img:hover {
        transform: scale(1.1); /* Efecto hover para agrandar la miniatura */
    }

    .product-related-images {
        margin-top: 100px;
        
    }

/* General Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


/* Product Info Styles */
.product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
}

.product-info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #343a40; /* Mantiene el fondo oscuro */
    padding: 5px 10px; /* Disminuye el espacio interno en la barra */
    height: 50px; /* Ajusta la altura de la barra */
}
/* Main Product Image */
.product-main-image {
    flex: 1;
    margin-bottom: 20px;
    max-width: 60%; /* Controla el ancho de la imagen principal */
}

.product-related-images {
    margin-bottom: 50px;
}
.related-images {
    display: flex;
    flex-wrap: wrap; /* Asegura que las imágenes relacionadas se envuelvan si no caben en una línea */
    gap: 10px; /* Espacio entre imágenes */
    margin-bottom: 20px; /* Espacio entre las imágenes y el footer */
}

.related-images img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.related-images img:hover {
    transform: scale(1.1);
}

/* Carousel Styles */
.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

/* Footer */
footer {
    padding: 1rem;
    background-color: #343a40;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .float-end {
    margin-top: 1rem;
}


footer a:hover {
    color: #ffffff;
}
.nav-item {
    margin-left: 10px;
  }

  .navbar-nav {
    flex-direction: row;
  }
.navbar-toggler-icon {
    color: #ffffff;
}

/* Ajuste para pantallas grandes */
@media (min-width: 992px) {
    .navbar {
        padding: 0.75rem 1rem; /* Ajuste del padding en pantallas grandes */
    }
}

  .navbar-nav {
    display: flex;
    flex-direction: column; 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;}
  
    .nav-link {
      padding-right: 0;
      padding-left: 0;
    }
  
    .dropdown-menu {
      position: static;
    }
    .container {
        flex: 1; /* Permitir que el contenido se expanda para evitar que el footer suba */
    }
